/* Everything below this is for the header and body */

body {
    background-image: url(../images/textured_paper.png);
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 150%;
}

header {
    background-color: #ffffff;
    border-bottom: 2px solid #cccccc;
}

#Name {
    background-color: #4aaaa5;
    color: #ffffff;
    margin: 0;
    padding: 28px 20px 0 20px;
    height: 52px;
    text-align: center;
}

#links {
    color: #777777;
}

a,p {
    color: #777777;
    text-decoration: none;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

.hcontainer {
    width: 960px;
    margin: 0 auto;
    padding: 0;
    display: flex;
	flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
	align-items: center;
	align-content: stretch;
}

/* This is all stylying for the About Me container and its contents */

#aboutmecontainer {
    background-color: #ffffff;
    width: 960px;
    margin: 40px auto;
    border: 1px solid #dddddd;
}

#aboutme {
    
    color: #4aaaa5;
    margin: 30px 20px 30px 20px;
}

.line {
    border-bottom: 2px solid #dddddd;
    margin: 0 20px 0 20px;
}

#bioimage {
    width: 200px;
    height: 200px;
    margin: 20px;
    float: left;
}

#biotext {
    margin: 0 20px 0 20px;
}

/* This section is for the footer */

footer {
    width: 100%;
    text-align: center;
    background-color: #666666;
    border-top: 8px solid #4aaaa5;
    margin: 0;
    padding-top: 20px;
    position:fixed;
    bottom:0;
}

#footertext {
    margin: 0;
    color: #ffffff;
    font-size: 10px;
}

/* Portfolio page styling*/
