main {
    background-image: url("../images/extra_clean_paper.png")
}

title {
    background-color: #ffffff;
    text-align: left
}

nav {
    text-align: right
}

article {
    align-content: center;
    background-color: #ffffff;
    height: 65%;
    width: 40%;
}

img {
    height: 200px;
    width: 200px;
}